.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.number {
  margin: 0 5px;
}

.active {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #fff;
}
